<div class="container-fluid mt-5">
    <h4>
        über Developer
    </h4>
<div class="row">
<div  class="col-lg-3 mt-3 mb-3 box-in">
    <div class="box"> 
        <img src="../../assets/images/2.png" width="100%" alt="kein Bild!">
        <h5 class="mt-2 mb-2">dev. Salm Muster</h5>
        <p>Update von: {{myDate |  date: 'yyyy.MM.dd' }}</p>
        <div class="box-in">
        <a href="#" target="_blank" 
        rel="noopener" class="btn btn-dark btn-sm mt-2 a-link">linkedin</a>
        <a href="#" target="_blank" 
        rel="noopener" class="btn btn-dark btn-sm mt-2 a-link">Xing</a>
        <a href="#" target="_blank" 
        rel="noopener" class="btn btn-dark btn-sm mt-2 a-link">Web</a>
        </div>
    </div>
   
    <div class="box" >
        <img src="../../assets/images/1.png" width="100%" alt="kein Bild!">
        <h5 class="mt-2 mb-2">dev. Jalal Sarokhan</h5>
        <p>Update von:{{myDate |  date: 'yyyy.MM.dd' }}</p>
        <div class="box-in">
        <a href="https://de.linkedin.com/in/jalal-sarokhan-487bb4275" target="_blank" 
        rel="noopener" class="btn btn-dark btn-sm mt-2 a-link">linkedin</a>
        <a href="https://www.xing.com/?gad_source=1" target="_blank" 
        rel="noopener" class="btn btn-dark btn-sm mt-2 a-link">Xing</a>
        <a href="https://www.google.com/search?client=firefox-b-d&q=Jalal+Sarokhan" target="_blank" 
        rel="noopener" class="btn btn-dark btn-sm mt-2 a-link">Web</a>
        </div>
    </div>
    <div class="box"> 
        <img src="../../assets/images/3.png" width="100%" alt="kein Bild!">
        <h5 class="mt-2 mb-2">dev. Maxi Map</h5>
        <p>Update von: {{myDate |  date: 'yyyy.MM.dd' }}</p>
        <div class="box-in">
        <a href="#" target="_blank" 
        rel="noopener" class="btn btn-dark btn-sm mt-2 a-link">linkedin</a>
        <a href="#" target="_blank" 
        rel="noopener" class="btn btn-dark btn-sm mt-2 a-link">Xing</a>
        <a href="#" target="_blank" 
        rel="noopener" class="btn btn-dark btn-sm mt-2 a-link">Web</a>
        </div>
    </div>
    
</div>
</div>
</div>